/howllo-admin/node_modules
/howllo-web/node_modules
/node_modules
/howllo-web/.next
/howllo-web/tsconfig.tsbuildinfo
/howllo-app/node_modules
/howllo-app/.next
/howllo-app/tsconfig.tsbuildinfo
/howllo-app/.env.local
/howllo-web/.env.local
/howllo-admin/.env.local
/howllo-landing/.env.local
/howllo-docs/.env.local
**/.env.local
**/.dev.vars
/howllo-admin/dist
/howllo-admin/.tmp
/howllo-server/.env
/.env.production
/howllo-app/.open-next
/howllo-web/.open-next
/howllo-landing/dist
/howllo-app/.wrangler
/howllo-web/.wrangler
/howllo-admin/.wrangler
/howllo-landing/.wrangler
