NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:7700
NEXT_PUBLIC_HOWLLO_PUBLIC_WEB_URL=http://localhost:7703
NEXT_PUBLIC_HOWLLO_AUTH_PROVIDER=rooiam
NEXT_PUBLIC_HOWLLO_AUTH_PROVIDERS=rooiam
NEXT_PUBLIC_ROOIAM_WIDGET_BASE_URL=https://api.rooiam.com/login-widget
NEXT_PUBLIC_ROOIAM_WIDGET_WORKSPACE_ID=YOUR_WORKSPACE_ID
NEXT_PUBLIC_ROOIAM_WIDGET_CLIENT_ID=YOUR_CLIENT_ID
